{{ define "main" }}

<div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">

        <div>
            <ul>
                <li>Episode nr.: {{ .Param "episode" }}</li>
                <li>Vilde våben: {{ .Param "rating.vildeVåben" }}</li>
                <li>Stærke oneliners: {{ .Param "rating.stærkeOneliners" }}</li>
                <li>Fed skurk: {{ .Param "rating.fedSkurk" }}</li>
                <li>Episk action: {{ .Param "rating.episkAction" }}</li>
                <li>Bar hud og store muskler: {{ .Param "rating.barHudOgStoreMuskler" }}</li>
                <li>Samlet score: {{ .Param "rating.total" }}</li>
                <li>TODO: Gammel skala</li>
                <li>TODO: Bonuskategorier</li>
            </ul>
        </div>

        <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
            {{ .Content }}
        </div>
    </article>
</div>

{{ end }}