{{ define "main" }}
<article class="post">
    <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>

    <div class="post-meta">
        {{ if .Date }}
        <div class="post-date">
            Episode {{ .Params.episode}} :: 
            {{ .Date.Format "2006-01-02" }}
        </div>
        {{ end }}
        {{ with .Params.Author }}
        <span class="post-author">{{ . }}</span>
        {{ end }}
        {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
        <span class="post-reading-time">:: {{ .ReadingTime }} {{ $.Site.Params.minuteReadingTime | default "min read" }}
            ({{ .WordCount }} {{ $.Site.Params.words | default "words" }})</span>
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <span class="post-tags">
        {{ range .Params.tags }}
        #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
        {{ end }}
    </span>
    {{ end }}
    {{ partial "cover.html" . }}

    {{ if (.Params.Toc | default .Site.Params.Toc) }}
    <div class="table-of-contents">
        <h2>
            {{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
        </h2>
        {{ .TableOfContents }}
    </div>
    {{ end }}

    {{ with .Params.imdbId }}
    {{ $info := index $.Site.Data . }}
    <div class="post-meta">
        <h4>{{ $info.tagline }}</h4>
    </div>
    {{ end }}

    <div class="post-content">
        <table style="table-layout: fixed; width: auto;">
            <tr>
                <th>Kategori</th>
                <th>Score</th>
            </tr>
            {{ with .Params.rating.fedSkurk }}
            <tr>
                <td>Fed skurk</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ with .Params.rating.gammelSkala.barHud }}
            <tr>
                <td>Bar hud</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ with .Params.rating.gammelSkala.storeMuskler }}
            <tr>
                <td>Store muskler</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ with .Params.rating.barHudOgStoreMuskler }}
            <tr>
                <td>Bar hud og store muskler</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ with .Params.rating.vildeVåben }}
            <tr>
                <td>Vilde våben</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ with .Params.rating.stærkeOneliners }}
            <tr>
                <td>Stærke oneliners</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ with .Params.rating.episkAction }}
            <tr>
                <td>Episk action</td>
                <td align="right">{{ . }}</td>
            </tr>
            {{ end }}
            {{ range .Params.rating.bonus }}
            <tr>
                <td>Bonus kategori: {{ .kategori}}</td>
                <td align="right">{{ .score }}</td>
            </tr>
            {{ end}}
            <tr>
                <td>Samlet</td>
                <td align="right">{{ .Params.rating.total }}</td>
            </tr>
        </table>

        {{- with .Content -}}
        <div>
            {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
        </div>
        {{- end -}}
    </div>

    {{ with .Params.imdbId }}
    {{ $info := index $.Site.Data . }}
    <div class="post-meta">
        <ul>
            <li>Udgivet: {{ $info.release_date }}</li>
            <li>Længde: {{ $info.runtime }} min</li>
            {{ if gt $info.budget 0}} 
            <li>Budget: {{ $info.budget | lang.FormatCurrency 1 "USD" }}</li>
            {{ end }}
            {{ if gt $info.revenue 0 }}
            <li>Indtjent: {{ $info.revenue | lang.FormatCurrency 1 "USD" }}</li>
            {{ end }}
        </ul>
        <img src="https://image.tmdb.org/t/p/w300{{ $info.poster_path }}" />
    </div>
    {{ end }}

    {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ partial "posts_pagination.html" . }}
    {{ end }}

    {{ if not (.Params.hideComments | default false) }}
    {{ partial "comments.html" . }}
    {{ end }}
</article>
{{ end }}