{{ define "main" }}
  <script>
  function switchByNumber(x, y, dir) {
    var valX = parseInt(x.innerHTML);
    if (isNaN(valX)) {
      valX = -1;
    }
    var valY = parseInt(y.innerHTML);
    if (isNaN(valY)) { 
      valY = -1;
    }
    if (dir == "asc") {
      return valX > valY;
    } else {
      return valX < valY;
    }
  }

  function switchByText(x, y, dir) {
    if (dir == "asc") {
      return x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase();
    } else {
      return x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase();
    }
  }

  function sortTable(n, type) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    var switchFunc = type == "text" ? switchByText : switchByNumber;

    table = document.getElementById("movies-table");
    switching = true;
    dir = "asc";
    
    while (switching) {
      switching = false;
      rows = table.rows;
      
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        
        if (switchFunc(x, y, dir)) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    <table id="movies-table">
      <tr style="cursor: pointer;">
        <th onclick="sortTable(0)">&num;</th>
        <th onclick="sortTable(1, 'text')">Titel</th>
        <th onclick="sortTable(2)">Stærke oneliners</th>
        <th onclick="sortTable(3)">Vilde våben</th>
        <th onclick="sortTable(4)">Fed skurk</th>
        <th onclick="sortTable(5)">Bar hud og store muskler</th>
        <th onclick="sortTable(6)">Episk action</th>
        <th onclick="sortTable(7)">Bonus</th>
        <th onclick="sortTable(8)">Samlet</th>
      </tr>
      {{ range (where .Site.RegularPages "Section" "movies").ByParam "episode" }}
      <tr>
        <td>{{ .Params.episode }}</td>
        <td><a href="{{ .Permalink }}">{{ .Params.title }}</a></td>
        <td>{{ .Params.rating.stærkeOneliners }}</td>
        <td>{{ .Params.rating.vildeVåben }}</td>
        <td>{{ .Params.rating.fedSkurk }}</td>
        <td>{{ .Params.rating.barHudOgStoreMuskler }}</td>
        <td>{{ .Params.rating.episkAction }}</td>
        <td>
          {{ $score := 0 }}
          {{ range .Params.rating.bonus }}
            {{ $score = add $score .score }}
          {{ end }}
          {{ if gt $score 0}}
            {{ $score }}
          {{ end }}
        </td>
        <td>{{ .Params.rating.total }}</td>
      </tr>
      {{ end }}
    </table>

  </div>
{{ end }}
